<footer class="footer container">
  <section class="footer__container container">
    <article class="footer__content">
      <header class="footer__header">
        <h2 class="footer__title">Subscribe to the Prime Newsletter</h2>
        <p class="footer__description">
          Every Corner of Serenity Beckons You to Unwind, Relax, and Embrace the
          Beauty.
        </p>
        <button class="footer__button">
          Get Started <i class="footer__icon fas fa-arrow-right"></i>
        </button>
      </header>

      <nav class="footer__nav">
        <section class="footer__section">
          <h3 class="footer__section-title">Platform</h3>
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Terms of use</a></li>
            <li><a href="#" class="footer__link">About</a></li>
          </ul>
        </section>
        <section class="footer__section">
          <h3 class="footer__section-title">Social Media</h3>
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Instagram</a></li>
            <li><a href="#" class="footer__link">Twitter</a></li>
            <li><a href="#" class="footer__link">Facebook</a></li>
          </ul>
        </section>
        <section class="footer__section">
          <h3 class="footer__section-title">Company</h3>
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Home</a></li>
            <li><a href="#" class="footer__link">About us</a></li>
            <li><a href="#" class="footer__link">Land For Sale</a></li>
            <li><a href="#" class="footer__link">Resources</a></li>
          </ul>
        </section>
        <section class="footer__section">
          <h3 class="footer__section-title">Services</h3>
          <ul class="footer__list">
            <li><a href="#" class="footer__link">Property</a></li>
            <li><a href="#" class="footer__link">Home Development</a></li>
            <li><a href="#" class="footer__link">Home Design</a></li>
            <li><a href="#" class="footer__link">Resources</a></li>
          </ul>
        </section>
      </nav>
    </article>
  </section>
  <span class="footer__background-text container">
    <h2 class="footer__word">CENAL</h2>
  </span>
</footer>
