.container {
  flex-direction: column;
  padding: 56px 0;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    gap: 5%;
    align-items: flex-end;
  }
}

.header__aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  height: 100%;
  justify-content: space-evenly;
  width: 90%;
}

.header__text {
  color: var(--color-texto);
  text-align: left;
}

.header__button {
  padding: 8px 24px;
  background-color: white;
  color: black;
  border-radius: 9999px;
  cursor: pointer;
  text-align: center;
}

.header__button:hover {
  opacity: 0.8;
}

.slider {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.slider__slide {
  animation: scrollLarge 60s linear infinite;
  width: 100%;
  max-width: 650px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  height: 550px;
  animation-play-state: running;
}

.slider:hover .slider__slide {
  animation-play-state: paused;
}

@keyframes scrollLarge {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slider__image {
  border-radius: 20px;
  height: 400px;
  aspect-ratio: 6 / 4;
  width: auto;
}


.slider__content {
  display: flex;
  gap: 16px;
}

.slider__title {
  font-size: clamp(1.25em, 8vw, 3em);
  font-weight: bold;
  line-height: 1em;
}

.slider__description {
  color: var(--color-texto);
  min-height: 100px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

@media (max-width: 770px) {
  .header__aside {
    align-items: center;
  }

  .header__text {
    text-align: center;
  }

  .slider__image {
    height: calc(100px + 30vw);
  }

  .slider__slide {
    justify-content: flex-end;
    height: 100%;
    animation: scrollM 60s linear infinite;
  }

  @keyframes scrollM {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 500px) {
  .slider__slide {
    animation: scrollS 60s linear infinite;
  }

  @keyframes scrollS {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-550%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}