.main__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 64px 20px;
}

@media (min-width: 768px) {
  .main__container {
    padding: 0 64px;
    flex-direction: row;
  }
}

/* Intro Section */
.main__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .main__intro {
    width: 60%;
  }
}

.intro-header {
  text-align: center;
}

.intro-header__title {
  font-size: 2.88rem;
  font-weight: 300;
  text-align: left;
}

.intro-header__highlight {
  font-weight: 700;
}

.intro-header__icon {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-width: 1px;
  border-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}

.intro-figure {
  position: relative;
  width: 100%;
}

.intro-figure__image {
  width: 100%;
  border-radius: 0.5rem;
}

.intro-figure__caption {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--color-texto);
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all 500ms ease;
}

.intro-figure__caption:hover {
  background: rgba(0, 0, 0, 0.8);
}

.intro-figure__caption fa-icon {
  font-size: 25px;
}

/* Testimonial */
.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .aside {
    width: 40%;
  }
}

.testimonial {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}

.testimonial__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.testimonial__icon {
  color: var(--primary-color);
}

.testimonial__label {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--primary-color);
}

.testimonial__text {
  font-size: 0.8em;
  color: var(--color-texto);
}

.testimonial__footer {
  display: flex;
  align-items: center;
}

.testimonial__star {
  color: #facc15;
}

/* Real Estate */
.real-estate {
  background: black;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  transition: all 500ms ease;
}

.real-estate__figure {
  width: 100%;
}

.real-estate__image {
  width: 100%;
  border-radius: 0.5rem;
}

.real-estate__title {
  font-size: 1rem;
}

.real-estate__description {
  color: var(--color-texto);
  font-size: 0.7rem;
}

.real-estate__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  text-decoration: underline;
  font-size: 2em;
}
