/* Estilos generales */
.section {
  flex-direction: column;
  max-height: 864px;
  height: fit-content;
}

/* Header */
.section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .section__header {
    flex-direction: row;
    gap: 5%;
  }
}

.section__title {
  font-size: 2.5rem;
  line-height: 3rem;
  width: 100%;
  font-weight: bold;
}

.section__description {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .section__description {
    width: 90%;
  }
}

.section__text {
  color: var(--color-texto);
  font-size: 0.88em;
  text-align: left;
}

.section__button {
  background-color: white;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  width: fit-content;
}

.section__button:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.8);
}

/* Stats */
.section__stats {
  display: flex;
  min-height: 250px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2rem;
}

/* @media (max-width: 768px) {
  .section__stats {
    flex-direction: column;
  }
} */

/* Cards */
.stat-card {
  text-align: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 30%;
  min-width: 250px;
  min-height: 250px;
  max-height: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stat-card__number {
  font-size: clamp(1.5rem, calc(2.2vw + 0.8rem), 3rem);
  font-weight: bold;
  line-height: 3rem;
}

.stat-card__text {
  color: #4b5563;
  font-size: clamp(1rem, 1vw, 1.88rem);
}
