<section class="section container">
  <header class="section__header">
    <h2 class="section__title global-title">Confía en Central Nacional de Grúas</h2>
    <div class="section__description">
      <p class="section__text">
        Servicio de grúas a nivel nacional, asistencia rápida y segura en
        cualquier momento y lugar, personal altamente capacitado.
      </p>
      <button class="section__button">Más información</button>
    </div>
  </header>

  <section class="section__stats">
    <article class="stat-card">
      <h2 class="stat-card__number">+15</h2>
      <p class="stat-card__text">
        Años de experiencia realizando servicios de grúas a nivel nacional.
      </p>
    </article>
    <article class="stat-card">
      <h2 class="stat-card__number">+20.000</h2>
      <p class="stat-card__text">
        Servicios de grúa realizados con éxito en todo el país.
      </p>
    </article>
    <article class="stat-card">
      <h2 class="stat-card__number">+200</h2>
      <p class="stat-card__text">
        Contratos corporativos que han confiado en nuestra eficiencia y seguridad.
      </p>
    </article>
  </section>
</section>
