<section class="section container">
  <header class="section__header">
    <h2 class="section__title global-title">
      Confía en Central Nacional de Grúas
    </h2>
    <div class="section__description">
      <p class="section__text">
        Servicio de grúas a nivel nacional, asistencia rápida y segura en
        cualquier momento y lugar, personal altamente capacitado.
      </p>
      <a href="#preguntas" class="section__button">Más información</a>
    </div>
  </header>

  <section class="section__stats">
    <article class="stat-card" *ngFor="let stat of experienceArray">
      <h3 class="stat-card__number">+{{ stat.number | number }}</h3>
      <p class="stat-card__text">
        {{ stat.description }}
      </p>
    </article>
  </section>
</section>
